name: PHP Static Analysis

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:

  psalm-analysis:
    name: psalm static code analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP Action
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          extensions: dom, mbstring
          coverage: none

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: "Psalm cache"
        uses: actions/cache@v1
        with:
          path: /tmp/psalm
          key: "psalm-cache"

      - name: Install Dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run psalm
        run: ./vendor/bin/psalm --shepherd --show-info=true --output-format=github
